.note{ 
    width:40%;
    margin: 50px auto;
    border: 2px solid rgb(63, 76, 255);
    border-radius: 5px;
    padding: 25px;
}

.noteText, .noteTitle{
    text-align: center;
    font-weight: 600;
    color: #000000;
    margin-bottom: 18px;
}
.noteText{
    font-size: 20px;
}

.noteTitle{
    font-size: 28px;
}

.note > button{
margin-left: 2.5rem;
}